{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-3">
        {{ 'create Student'|trans }}
    </h1>

    {{ include(
        'student/_form.html.twig'
    ) }}

    <a class="btn btn-secondary mt-3"
       href="{{ path(
           'app_student_index'
       ) }}">
        Back
    </a>

{% endblock %}
